@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

body{
    background: url(ol2.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;  
}
.login form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.login form h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    color: #fff;
}
.login form p{
    font-size: 20px;
    margin: 15px 0;
}
.login form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    padding: 15px 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn-zarovnanie{
    text-align: center;
}
.button-container  {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
}

.button-row {
    display: flex; 
    width: 100%; 
    justify-content: center; 
}

.btn-questions {
    width: 303px;
    height: 252px; 
    margin: 10px;
    background-color: #BDB8B8;
    border: none; 
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    border-radius: 5px;
}
.btn-questions:hover{
    background-color: #555;
    color: white;
}
.quiz-nadpis{
    font-size: 60px;
    text-align: center;
    margin: 40px 0;
    color: #fff;
}
.quiz-otazka{
    width: 885px;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 14px;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.quiz-txtotazka{
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
    color: #000;
}
.quiz-odpoved1{
    width: 380px;
    height: 78px;
    background-color: #D9D9D9;
    padding-top: 1px;
    border-radius: 14px;
    border: none;
    margin-right: 50px;
}
.quiz-txtodpoved1{
    font-size: 30px;
    text-align: center;
    
    color: #000;
}
.quiz-odpoved3{
    width: 380px;
    height: 78px;
    background-color: #D9D9D9;
    margin-top: 50px;
    padding-top: 1px;
    border-radius: 14px;
    border: none;
    margin-right: 50px;
}
.quiz-txtodpoved3{
    font-size: 30px;
    text-align: center;

    color: #000;
}
.quiz-odpoved2{
    width: 380px;
    height: 78px;
    padding-top: 1px;
    background-color: #D9D9D9;
    border-radius: 14px;
    border: none;
}
.quiz-txtodpoved2{
    font-size: 30px;
    text-align: center;
    color: #000;
}
.quiz-odpoved4{
    width: 380px;
    height: 78px;
    margin-top: 50px;
    padding-top: 1px;
    background-color: #D9D9D9;
    border-radius: 14px;
    border: none;
}
.quiz-txtodpoved4{
    font-size: 30px;
    text-align: center;

    color: #000;
}
.quiz-row1{
    margin-right: 100px;
}
.button-container-questions {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    margin-top: 110px;
  }
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .quiz-score {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 700px;
  }
  
  .quiz-score h2, .quiz-score h3 {
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
  }
  
  .quiz-score h2 {
    font-size: 28px;
    color: #D95F2A;
  }
  
  .quiz-score h3 {
    font-size: 24px;
    color: #333;
  }
  @keyframes spravne {
    0%   { background-color: green; }
    50%  { background-color: lightgreen; }
    100% { background-color: green; }
  }
  @keyframes nespravne {
    0%   { background-color: red; }
    50%  { background-color: lightcoral; }
    100% { background-color: red; }
  }
  .animate-correct{
    /* animation-name: spravne;
    animation-duration: 1000; */
    background-color: green;
  }
  .animate-incorrect{
    /* animation-name: nespravne;
    animation-duration: 1000; */
    background-color: red;
  }
  .back_button{
    background-color: #D95F2A;;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    filter: drop-shadow(0px 5px 0px #AE481B);
    width: 296px;
    height: 70px;
    cursor: pointer;
  }
  .back_button:hover{
      background-color: #AE481B;
  }
  .back-button {
    margin-top: 20px;
    text-align: center;
  } 