@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

body{
    background: url(ol.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;  
}
.login form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}
.login form h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    color: #fff;
}
.login form p{
    font-size: 20px;
    margin: 15px 0;
}
.login form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
.btn{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    padding: 15px 10px;
    width: 150px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn-zarovnanie{
    text-align: center;
}
.button-container {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
}

.button-row {
    display: flex; 
    width: 100%; 
    justify-content: center; 
}

.btn-questions {
    width: 303px;
    height: 252px; 
    margin: 10px;
    background-color: #979494;
    border: none; 
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}


  

